[% load static %]

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastrar Obra</title>
</head>
<body>
    <div> class="container">
     <h1>cadastrar Obra</h1>
    <form method="poste">
     {& csrf_token %}
     {% form.as_p %}
     <button> class= "btn" type="submit">salvar</button>
    </form>
    <a href="(% url 'catalogo:index' %"volta para o catálogo></a>
    </div>
    
</body>
</html>